<section id="navigation-bar" class="navigation position-fixed">

  <nav id="navbar-example2" class="navbar navbar-expand-lg ">

    <div class="navigation container-fluid d-flex flex-wrap align-items-center my-2 pe-4 ps-5 ">

      <div class="col-md-3 brand-logo">
        <a href="index.html" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="/assets/images/" alt="">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
              aria-controls="offcanvasNavbar2" aria-label="Toggle navigation"><ion-icon
        name="menu-outline"></ion-icon></button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2"
           aria-labelledby="offcanvasNavbar2Label">

        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav align-items-center flex-grow-1">
            <li class="nav-list mx-3">
              <a [routerLink]="'/home/acceuil'" class="nav-link px-2" aria-current="page"><h5>Home</h5></a>
            </li>
            <li class="nav-list mx-3">
              <a class="nav-link px-2" (click)="scrollToSection('services')">
                <h5> Services </h5>
              </a>
            </li>
            <li class="nav-list mx-3">
              <a [routerLink]="'/home/users'" class="nav-link px-2"><h5>Shipment History</h5></a>
            </li>
            <li class="nav-list mx-3">
              <a [routerLink]="'/register-transporter'" class="nav-link px-2"><h5>Join as Transporter</h5></a>
            </li>

          </ul>
          <!-- Place this at the end of your navbar, outside the ul -->
          <div class="d-flex align-items-center ms-auto">
            <!-- Show when NOT logged in -->
            <ng-container *ngIf="!isLoggedIn">
              <a [routerLink]="'/login'" class="nav-link px-2" title="Login">
                <i class="fas fa-sign-in-alt fa-lg text-blue-600"></i>
              </a>
              <a [routerLink]="'/signup'" class="nav-link px-2" title="Register">
                <i class="fas fa-user-plus fa-lg text-blue-600"></i>
              </a>
            </ng-container>

            <!-- Quand l'utilisateur EST connecté -->
            <ng-container *ngIf="isLoggedIn">
              <a href="#" (click)="logout()" class="nav-link px-2" title="Logout">
                <i class="fas fa-sign-out-alt fa-lg text-red-600"></i>
              </a>
            </ng-container>
          </div> <!-- Fermeture de la div d-flex align-items-center ms-auto -->

        </div> <!-- fin offcanvas-body -->
      </div> <!-- fin offcanvas -->

    </div> <!-- fin navigation container-fluid -->

  </nav>

</section>
<section id="hero">
  <div class="hero container py-5 my-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 mt-2 py-5">
      <div class="col-10 col-sm-8 col-lg-6 py-md-5 my-md-5">
        <img src="/assets/images/scooter.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
             height="500" loading="lazy">
      </div>
      <div class="col-lg-6 py-md-5 my-md-5">
        <h1 class=" lh-1 mb-3">We offer a wide range of logistics solutions.</h1>
        <ul class="list-unstyled my-5">
          <li class="my-2">
            <h5>1 &nbsp; Easy booking </h5>
          </li>
          <li class="my-2">
            <h5>2 &nbsp; Global Coverage </h5>
          </li>
          <li class="my-2">
            <h5>3 &nbsp; Customer Support </h5>
          </li>
        </ul>
        <div class="">
          <a href="#" class="icon-link">
            <h5> Get Started</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
